/*
1. Posicionanmiento
2. Modelo de caja (box model)
3. Tipografia
4. Visuales
5. Otros
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM sans", sans-serif;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/
body::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #22252D;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #c8c8c8;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #22252D;
  /* creates padding around scroll thumb */
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
}
header > div {
  display: flex;
  flex-direction: column;
  background-color: #22252D;
}

.header-user ul {
  display: flex;
  font-size: 1.5rem;
  list-style: none;
  color: white;
  justify-content: flex-end;
}

.header-user li {
  padding: 5px;
}

.header-content {
  display: grid;
  width: 100%;
  padding: 2%;
  grid-gap: 10px;
  grid-template-columns: repeat(4, [col] auto);
  grid-template-rows: repeat(1, [row] auto);
}

.header-logo {
  grid-column: col/span 1;
  grid-row: row;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.header-menu--btn {
  display: none;
  position: absolute;
  left: 90%;
  right: 0;
  top: 2%;
}

.header-buy {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 4%;
}

.header-search {
  grid-column: col 2/span 2;
  grid-row: row;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1%;
  justify-content: space-evenly;
}

.header-content img {
  width: auto;
  min-width: 100px;
  max-width: 280px;
}

.menus-movil-icon {
  background: #ffffff;
  position: relative;
  width: 25px;
  padding: 2px 0px;
  border-radius: 6px;
  margin: 4px 0;
}

.menus-movil {
  background: #ffffff;
  position: relative;
  width: 25px;
  padding: 2px 0px;
  border-radius: 6px;
}

.menus-movil::after {
  background: #f9f9f9;
  content: "";
  height: 4px;
  position: absolute;
  width: 25px;
  margin: 6px 0;
  border-radius: 6px;
}

.correrBtn {
  left: 5%;
  position: absolute;
  right: 0;
  top: 2%;
}

.content-div-input {
  border-radius: 12px;
  width: 60%;
  padding: 0 3%;
  background-color: white;
}

.header-content input {
  border: none;
  width: 100%;
  height: 30px;
  outline: none;
}

.icon-search {
  width: 30px;
  height: 28px;
  margin: auto 0;
  background-image: url("../../Resource/Icons/searchGold.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-car {
  width: 40px;
  height: 40px;
  background-image: url("../../Resource/Icons/buy_100px.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-content p {
  font-size: 1.7rem;
  color: white;
}

.header-menu {
  width: 100%;
}

.header-menu ul {
  display: flex;
  list-style: none;
  font-size: 1.4rem;
  justify-content: center;
}

.header-menu li {
  padding: 0 3%;
}

.header-menu a {
  color: white;
  text-decoration: none;
}

.header-menu a:hover {
  color: #FFE55A;
}

.products:hover {
  color: #000;
  display: flex;
}

.header-menu--movil {
  z-index: 1;
  display: none;
  position: absolute;
  border-radius: 10px;
  padding: 5% 10%;
  top: 0;
  left: 30%;
  right: 0;
  background-color: #22252D;
  width: 70%;
  height: auto;
  box-shadow: -10px 10px 15px 4px rgba(0, 0, 0, 0.5);
}

.btn_down {
  background: #ffffff;
  height: 20px;
  position: relative;
  width: 4px;
  transform: rotate(226deg);
  left: 13px;
}

.btn_down::after {
  background: #ffffff;
  content: "";
  height: 4px;
  position: absolute;
  width: 20px;
}

.header-menu--movil summary {
  display: flex;
  align-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  padding: 8% 0;
  justify-content: space-between;
  outline: none;
}

.header-menu--movil details[open] summary .btn_down {
  transform: rotate(45deg);
  left: 0;
  background-color: #207A78;
}

.header-menu--movil details[open] summary .btn_down::after {
  background-color: #207A78;
}

.header-menu--movil summary p {
  padding: 5% 10%;
  width: 100%;
}

.header-menu--movil ol {
  list-style: none;
}

.header-menu--movil a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

.header-menu--movil li {
  padding: 5% 10%;
}

.header-menu--movil summary img {
  width: 30px;
}

.content-user--options {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.content-user--option {
  font-size: 1.5rem !important;
  color: white;
  padding: 10% 0 0 0 !important;
}

.content-user--option:hover {
  color: #207A78;
}

.main-card--product {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(1, [row] auto);
  padding: 5%;
  height: auto;
  width: 100%;
}

.card-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #cecece;
  width: auto;
  height: 300px;
}

.card-product img {
  margin: 25px auto;
  width: 50%;
  height: 60%;
}

.card-product span {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-left: 10px;
  margin: 0 20px;
  background-image: url("../../Resource/Icons/add_basket_64.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-product div {
  display: flex;
  width: 100%;
  height: inherit;
  justify-content: center;
  align-items: center;
}

.card-product h3 {
  font-size: 1.6rem;
  color: #b89c00;
}

.main-container--imagen {
  width: 100%;
}

.main-container--imagen img {
  width: 100%;
  height: 45vh;
}

.main-container--ofert {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  background-image: url("../../Resource/layout/Recurso 21@72x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container--ofertImage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  align-items: center;
}

.main-container--ofertImage img {
  width: 40%;
}

.main-container--ofertProduct img:nth-child(1) {
  width: 40%;
}

.main-container--ofertProduct img:nth-child(2) {
  width: 30%;
}

.main-container--ofertProduct {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
}

.main-container--ofertProduct img {
  width: 50%;
}

.html .main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.main-container-product {
  display: flex;
  width: 100%;
  height: 70%;
}

.main-container--photo {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-container--photo p {
  padding: 5%;
  font-size: 1.8rem;
  color: #22252D;
}

.main-container--photo img {
  padding: 8%;
  width: 50%;
}

.main-container--especification {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.container-especification-title {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 12px;
  border: solid 1.5px #a3a3a3;
  padding: 1.5% 0;
  outline: none;
}

.container-especifications {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1% 0;
  align-content: center;
}

.container-especifications div {
  text-align: center;
  border: solid 1px #a3a3a3;
  border-radius: 12px;
  padding: 3%;
  margin: 0 2%;
}

.container-especification {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 50%;
  font-size: 1.9rem;
  align-content: center;
  justify-content: space-evenly;
  padding: 0 5%;
}

.container-especification--amount {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-especification--amount p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  width: 24px;
  height: 24px;
  font-size: 1.9rem;
  border: solid 1px #b6b6b6;
}

.container-especification--amount button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: solid 1px #b6b6b6;
  outline: none;
  background-color: white;
}

.flecha {
  background: #595858;
  height: 20px;
  position: relative;
  width: 4px;
  transform: rotate(226deg);
  left: 40px;
}

.flecha::after {
  background: #595858;
  content: "";
  height: 4px;
  position: absolute;
  width: 20px;
}

.container-especification--price {
  display: flex;
  justify-content: center;
}

.container-especification--price p {
  font-size: 3rem;
  color: #22252D;
  padding: 5% 0 0 0;
}

.container-especification--btnBuy {
  display: flex;
  justify-content: center;
  padding: 5% 0 0 0;
}

.container-especification--btnBuy input {
  padding: 1%;
  width: 25%;
  background-color: #C18D25;
  border-radius: 12px;
  border: solid #C18D25;
  outline: none;
  color: white;
}

.main-container--description {
  width: 100%;
}

.main-container--description p {
  width: 100%;
  padding: 5%;
}

.main-product-container {
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;
  text-align: center;
}

.product--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
}

.plans--title h2 {
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: #282623;
}

.plans--title p {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}

.products-container-slider {
  display: flex;
  gap: 20px;
  height: 380px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  -ms-scroll-snap-type: x proximity;
  scroll-snap-type: x proximity;
}

.products-container--card {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 300px;
  max-width: 500px;
  height: 300px;
  margin: 50px auto 0;
  padding: 0 15px;
  background-color: #ffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.products-container--card img {
  padding: 5% 15%;
  width: 90%;
}

.products-container--title {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.products-container--info {
  display: flex;
  padding: 5%;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

.products-container--info span {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("/Resource/Icons/icons8_add_basket_32.png");
}

.products-container-slider::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

.products-container-slider::-webkit-scrollbar-track {
  background: #a19d9d;
  /* color of the tracking area */
}

.products-container-slider::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #a19d9d;
  /* creates padding around scroll thumb */
}

.products-container-slider::-webkit-scrollbar {
  -webkit-appearance: none;
}
.main-containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-containers h2 {
  padding: 2% 3% 0% 3%;
  font-size: 1.9rem;
  align-self: flex-start;
}

.main-container--form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(1, [row] auto);
  padding: 1% 3% 3% 3%;
  height: auto;
  width: 100%;
  max-width: 1150px;
}

.div-container--form {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}

.div-container--form input {
  width: 90%;
  height: 25px;
  border: 1px solid #dddd;
  border-radius: 12px;
  outline: none;
  padding: 0% 4% 0% 4%;
}

.div-container--form label {
  font-size: 1.9rem;
}

.section-container--buy {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(1, [row] auto);
  align-items: center;
  justify-items: end;
}

.div-pay-order {
  display: flex;
  flex-direction: column;
  padding: 10%;
  width: 100%;
  max-width: 500px;
  justify-self: start;
}

.div-pay-order div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 0;
}

.div-pay-order .button {
  padding: 1%;
  width: 25%;
  background-color: #C18D25;
  border-radius: 12px;
  border: solid #C18D25;
  outline: none;
  color: white;
}

.div-products {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.div-products-info {
  display: flex;
  padding: 5%;
  display: flex;
  padding: 2% 6%;
  align-content: center;
  justify-content: space-between;
}

.div-products-info p {
  font-size: 1.6rem;
}

.section-product--description {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  gap: 20px;
  height: 360px;
  overflow-y: scroll;
  overscroll-behavior-x: contain;
  -ms-scroll-snap-type: x proximity;
  scroll-snap-type: x proximity;
}

.section-product--description::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

.section-product--description::-webkit-scrollbar-track {
  background: #a19d9d;
  /* color of the tracking area */
}

.section-product--description::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #a19d9d;
  /* creates padding around scroll thumb */
}

.section-product--description::-webkit-scrollbar {
  -webkit-appearance: none;
}
.div-products--description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.div-products--description img {
  width: 20%;
}

.span-contaner-trash span {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../../Resource/Icons/icons8-eliminar-papelera-48.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.footer-container {
  display: flex;
  width: 100%;
  height: auto;
  background-image: url("../../Resource/layout/Recurso 22@72x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-container--info {
  display: flex;
  font-size: 1.5rem;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  padding: 0 5%;
  align-items: center;
  align-content: center;
}

.footer-container--info li {
  list-style: none;
  padding: 1% 0;
  color: white;
}

.footer-container--info li img {
  width: 65%;
}

.footer-container--info ul {
  align-self: start;
  padding: 1%;
}

.footer-container--title {
  font-size: 1.9rem;
}

.footer--img-fondo img {
  position: absolute;
  width: 100%;
  height: 200px;
}

.footer-container--redes {
  display: flex;
  align-self: center !important;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  width: 100%;
  height: auto;
  padding: 2% 0;
}

.footer-logo img {
  width: 80px;
}

.footer-logo p {
  font-size: 1.9rem;
  color: white;
  padding-left: 1%;
}

.menu {
  position: absolute;
  display: none;
  width: 100%;
  font-size: 150%;
  color: white;
  padding: 0% 18%;
}

.menu-title {
  width: auto;
  display: grid;
  grid-template-columns: repeat(7, [col] auto);
  grid-template-rows: repeat(2, [row] auto);
  margin: 0 auto;
}

.menu-title > li:nth-child(1) {
  grid-column: col 1/span 1;
  grid-row: row 1;
  border-radius: 20px 0px 0px 0px;
}

.menu-title > li:nth-child(2) {
  grid-column: col 2/span 1;
  grid-row: row;
}

.menu-title > li:nth-child(3) {
  grid-column: col 3/span 1;
  grid-row: row;
}

.menu-title > li:nth-child(4) {
  grid-column: col 4/span 1;
  grid-row: row;
}

.menu-title > li:nth-child(5) {
  grid-column: col 5/span 1;
  grid-row: row;
}

.menu-title li:nth-child(6) {
  grid-column: col 6/span 1;
  grid-row: row;
}

.menu-title li:nth-child(7) {
  border-radius: 0px 20px 0px 0px;
  grid-column: col 7/span 1;
  grid-row: row;
}

.menu-title > li {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #207A78;
  list-style: none;
  padding: 5% 7px;
  margin: 1px 0px;
}

.item-menu li:nth-child(1) {
  grid-column: col/span 1;
  grid-row: row 2;
}

.item-menu:nth-child(1) {
  grid-column: col/span 1;
  grid-row: row 2;
}

.border {
  border-radius: 0px 0px 20px 0px;
}

.border1 {
  border-radius: 0px 0px 0px 20px;
}

.item-menu li {
  list-style: none;
  background: rgba(0, 0, 0, 0);
  padding: 4% 4px;
}

.item-menu {
  z-index: 1;
  background: rgba(34, 37, 45, 0.96);
  padding: 4% 4px;
}

.item-menu a {
  text-decoration: none;
  color: white;
}

.menuvisible {
  display: flex;
}

.menusvisible {
  display: block;
}

.main-card--product {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(1, [row] auto);
  padding: 5%;
  height: auto;
  width: 100%;
}

.card-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #cecece;
  width: auto;
  height: 300px;
}

.card-product img {
  margin: 25px auto;
  width: 50%;
  height: 60%;
}

.card-product span {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-left: 10px;
  margin: 0 20px;
  background-image: url("../../Resource/Icons/add_basket_64.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-product div {
  display: flex;
  width: 100%;
  height: inherit;
  justify-content: center;
  align-items: center;
}

.card-product h3 {
  font-size: 1.6rem;
  color: #b89c00;
}

.main-container--imagen {
  width: 100%;
}

.main-container--imagen img {
  width: 100%;
  height: 45vh;
}

.main-container--ofert {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  background-image: url("../../Resource/layout/Recurso 21@72x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container--ofertImage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  align-items: center;
}

.main-container--ofertImage img {
  width: 40%;
}

.main-container--ofertProduct img:nth-child(1) {
  width: 40%;
}

.main-container--ofertProduct img:nth-child(2) {
  width: 30%;
}

.main-container--ofertProduct {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
}

.main-container--ofertProduct img {
  width: 50%;
}

.html .main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.main-container-product {
  display: flex;
  width: 100%;
  height: 70%;
}

.main-container--photo {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-container--photo p {
  padding: 5%;
  font-size: 1.8rem;
  color: #22252D;
}

.main-container--photo img {
  padding: 8%;
  width: 50%;
}

.main-container--especification {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.container-especification-title {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 12px;
  border: solid 1.5px #a3a3a3;
  padding: 1.5% 0;
  outline: none;
}

.container-especifications {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1% 0;
  align-content: center;
}

.container-especifications div {
  text-align: center;
  border: solid 1px #a3a3a3;
  border-radius: 12px;
  padding: 3%;
  margin: 0 2%;
}

.container-especification {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 50%;
  font-size: 1.9rem;
  align-content: center;
  justify-content: space-evenly;
  padding: 0 5%;
}

.container-especification--amount {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-especification--amount p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  width: 24px;
  height: 24px;
  font-size: 1.9rem;
  border: solid 1px #b6b6b6;
}

.container-especification--amount button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: solid 1px #b6b6b6;
  outline: none;
  background-color: white;
}

.flecha {
  background: #595858;
  height: 20px;
  position: relative;
  width: 4px;
  transform: rotate(226deg);
  left: 40px;
}

.flecha::after {
  background: #595858;
  content: "";
  height: 4px;
  position: absolute;
  width: 20px;
}

.container-especification--price {
  display: flex;
  justify-content: center;
}

.container-especification--price p {
  font-size: 3rem;
  color: #22252D;
  padding: 5% 0 0 0;
}

.container-especification--btnBuy {
  display: flex;
  justify-content: center;
  padding: 5% 0 0 0;
}

.container-especification--btnBuy input {
  padding: 1%;
  width: 25%;
  background-color: #C18D25;
  border-radius: 12px;
  border: solid #C18D25;
  outline: none;
  color: white;
}

.main-container--description {
  width: 100%;
}

.main-container--description p {
  width: 100%;
  padding: 5%;
}

.main-product-container {
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;
  text-align: center;
}

.product--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
}

.plans--title h2 {
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: #282623;
}

.plans--title p {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}

.products-container-slider {
  display: flex;
  gap: 20px;
  height: 380px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  -ms-scroll-snap-type: x proximity;
  scroll-snap-type: x proximity;
}

.products-container--card {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 300px;
  max-width: 500px;
  height: 300px;
  margin: 50px auto 0;
  padding: 0 15px;
  background-color: #ffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.products-container--card img {
  padding: 5% 15%;
  width: 90%;
}

.products-container--title {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.products-container--info {
  display: flex;
  padding: 5%;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

.products-container--info span {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("/Resource/Icons/icons8_add_basket_32.png");
}

.products-container-slider::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

.products-container-slider::-webkit-scrollbar-track {
  background: #a19d9d;
  /* color of the tracking area */
}

.products-container-slider::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #a19d9d;
  /* creates padding around scroll thumb */
}

.products-container-slider::-webkit-scrollbar {
  -webkit-appearance: none;
}
.main-containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-containers h2 {
  padding: 2% 3% 0% 3%;
  font-size: 1.9rem;
  align-self: flex-start;
}

.main-container--form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(1, [row] auto);
  padding: 1% 3% 3% 3%;
  height: auto;
  width: 100%;
  max-width: 1150px;
}

.div-container--form {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}

.div-container--form input {
  width: 90%;
  height: 25px;
  border: 1px solid #dddd;
  border-radius: 12px;
  outline: none;
  padding: 0% 4% 0% 4%;
}

.div-container--form label {
  font-size: 1.9rem;
}

.section-container--buy {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(1, [row] auto);
  align-items: center;
  justify-items: end;
}

.div-pay-order {
  display: flex;
  flex-direction: column;
  padding: 10%;
  width: 100%;
  max-width: 500px;
  justify-self: start;
}

.div-pay-order div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 0;
}

.div-pay-order .button {
  padding: 1%;
  width: 25%;
  background-color: #C18D25;
  border-radius: 12px;
  border: solid #C18D25;
  outline: none;
  color: white;
}

.div-products {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.div-products-info {
  display: flex;
  padding: 5%;
  display: flex;
  padding: 2% 6%;
  align-content: center;
  justify-content: space-between;
}

.div-products-info p {
  font-size: 1.6rem;
}

.section-product--description {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  gap: 20px;
  height: 360px;
  overflow-y: scroll;
  overscroll-behavior-x: contain;
  -ms-scroll-snap-type: x proximity;
  scroll-snap-type: x proximity;
}

.section-product--description::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

.section-product--description::-webkit-scrollbar-track {
  background: #a19d9d;
  /* color of the tracking area */
}

.section-product--description::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #a19d9d;
  /* creates padding around scroll thumb */
}

.section-product--description::-webkit-scrollbar {
  -webkit-appearance: none;
}
.div-products--description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.div-products--description img {
  width: 20%;
}

.span-contaner-trash span {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../../Resource/Icons/icons8-eliminar-papelera-48.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

@media (max-width: 425px) {
  .header-menu {
    display: none;
  }

  .header-content {
    display: flex;
    flex-direction: column;
  }

  .header-search {
    justify-content: center;
    margin-top: 4%;
  }

  .icon-search {
    margin-left: 3%;
  }

  .header-user {
    display: none;
  }

  .main-container-product {
    flex-direction: column;
  }

  .main-container--photo {
    width: 100%;
  }

  .div-products {
    padding: 10% 0%;
  }

  .main-container--especification {
    width: 100%;
  }

  .header-menu--btn {
    display: block;
  }

  .container-especification {
    width: 100%;
  }

  .footer-container--info {
    flex-direction: column;
  }

  .main-container--ofert {
    flex-direction: column;
  }

  .main-container--ofertImage {
    width: 100%;
    padding: 5% 0;
  }

  .main-container--ofertProduct {
    width: 100%;
    align-items: center;
    padding: 5% 0;
  }
}
@media (min-width: 930px) {
  .product-cards--container {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map *//*# sourceMappingURL=style.css.map */