.main-card--product {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(1, [row] auto);
  padding: 5%;
  height: auto;
  width: 100%;
}
.card-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  border: 1px solid rgb(206, 206, 206);
  width: auto;
  height: 300px;
}
.card-product img {
  margin: 25px auto;
  width: 50%;
  height: 60%;
}
.card-product span {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-left: 10px;
  margin: 0 20px;
  background-image: url("../../Resource/Icons/add_basket_64.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-product div {
  display: flex;
  width: 100%;
  height: inherit;
  justify-content: center;
  align-items: center;
}
.card-product h3 {
  font-size: 1.6rem;
  color: rgb(184, 156, 0);
}
.main-container--imagen {
  width: 100%;
}
.main-container--imagen img {
  width: 100%;
  height: 45vh;
}
.main-container--ofert {
  display: flex;

  justify-content: space-evenly;
  width: 100%;
  height: auto;
  background-image: url("../../Resource/layout/Recurso 21@72x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-container--ofertImage{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  align-items: center;
}
.main-container--ofertImage img{
  width: 40%;
}
.main-container--ofertProduct img:nth-child(1) {
  width: 40%;
}
.main-container--ofertProduct img:nth-child(2) {
  width: 30%;
}
.main-container--ofertProduct{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
}
.main-container--ofertProduct img{
  width: 50%;
}
//---product21280
.html .main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.main-container-product {
  display: flex;
  width: 100%;
  height: 70%;
}
.main-container--photo {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-container--photo p {
  padding: 5%;
  font-size: 1.8rem;
  color: $color-header;
}
.main-container--photo img {
  padding: 8%;
  width: 50%;
}
.main-container--especification {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
.container-especification-title {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 12px;
  border: solid 1.5px #a3a3a3;
  padding: 1.5% 0;
  outline: none;
}
.container-especifications {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1% 0;
  align-content: center;
}
.container-especifications div {
  text-align: center;
  border: solid 1px #a3a3a3;
  border-radius: 12px;
  padding: 3%;
  margin: 0 2%;
}
.container-especification {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 50%;
  font-size: 1.9rem;
  align-content: center;
  justify-content: space-evenly;
  padding: 0 5%;
}
.container-especification--amount {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.container-especification--amount p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  width: 24px;
  height: 24px;
  font-size: 1.9rem;
  border: solid 1px #b6b6b6;
}
.container-especification--amount button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: solid 1px #b6b6b6;
  outline: none;
  background-color: white;
}
.flecha {
  background: #595858;
  height: 20px;
  position: relative;
  width: 4px;
  transform: rotate(226deg);
  left: 40px;
}
.flecha::after {
  background: #595858;
  content: "";
  height: 4px;
  position: absolute;
  width: 20px;
}
.container-especification--price {
  display: flex;
  justify-content: center;
}
.container-especification--price p{
  font-size: 3rem;
  color: $color-header;
  padding: 5% 0 0 0;
}
.container-especification--btnBuy {
  display: flex;
  justify-content: center;
  padding: 5% 0 0 0;
}
.container-especification--btnBuy input{
padding: 2%;
width:35%;
background-color: $color-btn;
border-radius: 12px;
border: solid $color-btn;
outline: none;
color: white;
}
.main-container--description {
  width: 100%;
}
.main-container--description p {
  width: 100%;
  padding: 5%;
}
.main-product-container {
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;
  text-align: center;
}

.product--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
}

.plans--title h2 {
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: #282623;
}

.plans--title p {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}

.products-container-slider {
  display: flex;
  gap: 20px;
  height: 380px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  -ms-scroll-snap-type: x proximity;
  scroll-snap-type: x proximity;
}

.products-container--card {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 300px;
  max-width: 500px;
  height: 300px;
  margin: 50px auto 0;
  padding: 0 15px;
  background-color: #ffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.products-container--card img {
  padding: 5% 15%;
  width: 90%;
}
.products-container--title {
  display: flex;
  flex-direction: column;
  padding: 5%;
}
.products-container--info {
  display: flex;
  padding: 5%;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

.products-container--info span {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("/Resource/Icons/icons8_add_basket_32.png");
}

.products-container-slider::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

.products-container-slider::-webkit-scrollbar-track {
  background: #a19d9d;
  /* color of the tracking area */
}

.products-container-slider::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #a19d9d;
  /* creates padding around scroll thumb */
}

.products-container-slider::-webkit-scrollbar {
  -webkit-appearance: none;
} /*# sourceMappingURL=styles.css.map */

//----product.html

//----order.html
.main-containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main-containers h2 {
  padding: 2% 3% 0% 3%;
  font-size: 1.9rem;
  align-self: flex-start;
}

.main-container--form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(1, [row] auto);
  padding: 1% 3% 3% 3%;
  height: auto;
  width: 100%;
  max-width: 1150px;
}
.div-container--form {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}
.div-container--form input {
  width: 90%;
  height: 25px;
  border: 1px solid #dddd;
  border-radius: 12px;
  outline: none;
  padding: 0% 4% 0% 4%;
}
.div-container--form label {
  font-size: 1.9rem;
}
.section-container--buy {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(1, [row] auto);
  align-items: center;
  justify-items: end;
}

.div-pay-order {
  display: flex;
  flex-direction: column;
  padding: 10%;
  width: 100%;
  max-width: 500px;
  justify-self: start;
}
.div-pay-order div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 0;
}
.div-pay-order .button {
  padding: 2%;
  width: 35%;
  background-color: $color-btn;
  border-radius: 12px;
  border: solid $color-btn;
  outline: none;
  color: white;
}
.div-products {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}
.div-products-info {
  display: flex;
  padding: 5%;
  display: flex;
  padding: 2% 6%;
  align-content: center;
  justify-content: space-between;
}
.div-products-info p {
  font-size: 1.6rem;
}
.section-product--description {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  gap: 20px;
  height: 360px;
  overflow-y: scroll;
  overscroll-behavior-x: contain;
  -ms-scroll-snap-type: x proximity;
  scroll-snap-type: x proximity;
}
.section-product--description::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

.section-product--description::-webkit-scrollbar-track {
  background: #a19d9d;
  /* color of the tracking area */
}

.section-product--description::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #a19d9d;
  /* creates padding around scroll thumb */
}

.section-product--description::-webkit-scrollbar {
  -webkit-appearance: none;
} /*# sourceMappingURL=styles.css.map */

.div-products--description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.div-products--description img {
  width: 20%;
}
.span-contaner-trash span {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../../Resource/Icons/icons8-eliminar-papelera-48.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
//----order.html
