@media (max-width: 425px) {
  header > div {
    // flex-direction: row;
  }
  .header-menu {
    display: none;
  }
  .header-content {
    display: flex;
    flex-direction: column;
  }
  .header-search {
    justify-content: center;
    margin-top: 4%;
  }
  .icon-search {
    margin-left: 3%;
  }

  .header-user {
    display: none;
  }
  .main-container-product {
    flex-direction: column;
  }
  .main-container--photo {
    width: 100%;
  }
  .div-products {
    padding: 10% 0%;
  }
  .main-container--especification {
    width: 100%;
  }
  .header-menu--btn {
    display: block;
  }
  .container-especification{
    width: 100%;
  }
  .footer-container--info{
    flex-direction: column;
  }
  .main-container--ofert{
    flex-direction: column;
  }
  .main-container--ofertImage{
    width: 100%;
    padding: 5% 0;
  }
  .main-container--ofertProduct{
    width: 100%;
    align-items: center;
    padding: 5% 0;
  }
}
@media (min-width: 930px) {
  .product-cards--container {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
  }
}
